.clock {
    font-size: 10vh;
    @include flexCenter(row);
    font-family: $rusoFont;
    p {
        font-size: 80%;
    }
    
}
.date {
    @include flexCenter(row);
    font-family: $rusoFont;
    p {
        font-size: 5vh;
        text-align: center;
    }
}

@media (max-width: 600px){
    .clock {
        p {
            font-size: 70%;
        }
        span{
            font-size: 70%;
        }
    }
}
